<%= form_with url: show_path do |form| %>
  <div>
    <%= form.label :number, "Input n", style: "display:block" %>
    <%= form.number_field :number, min: 1 %>
  </div>
  </br>
  <div>
  <%= form.label :string_array, "Input numbers", style: "display:block" %>
  <%= form.text_field :string_array, style: "width:300px" %>
  </div>
  </br>
  <div>
    <%= form.submit('Check Result', id: 'calculate-btn') %>
  </div>
<% end %>
<div id='show-container'></div>